@page
@model MyApp.Namespace.PeopleModel
@using Models
@{
    <h1>People</h1>

    <form method="post">
            <button type="submit">Add</button>
            <input type="number" name="id"/>
            <input type="name" name="name"/>
            <input type="number" name="age"/>

    </form>

    <table class="table">
            <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>

                    </tr>
            </thead>

            <tbody>
                @foreach(Person person in Model.People)
                {
                    <tr>
                        <td>
                            @person.Id
                        </td>
                         <td>
                            @person.Name
                        </td>
                         <td>
                            @person.Age
                        </td>
                    </tr>
                }
            </tbody>
    </table>
}
